*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(253, 198, 253), rgb(247, 90, 247));
    display: flex;
    justify-content: center;
}
.title{
    padding-bottom: 20px;
    justify-self: center;
    font-family: 'Courier New';
    color: white;
}
label{
    color: white;
}
.all-i {
    width: 270px;
    height: 200px;
    background: violet;
    align-content: center;
    justify-items: center;
    border-radius: 20px;
    box-shadow: 10px 20px 35px;
}
.all-i:hover{
    transform: scaleX(1.2);
    transition: 2s;
}
.all-i i{
    position: relative;
    bottom: 32px;
    left: 114px;
    color: white;
}
.all-i i:hover{
    position: relative;
    bottom: 32px;
    left: 114px;
    color: rgb(0, 0, 0);  
}
.all-i .btn{
    justify-self: center;
}
button{
    
    font-family: 'Courier New', Courier, monospace;
    border: none;        /* removes the box */
    outline: none;       /* removes blue border when clicked */
    background: none;    /* removes white background */
    color: white;        /* text color */
}
.i-1 input{

   border: none;        /* removes the box */       /* removes blue border when clicked */
   background: none;    /* removes white background */
   color: rgb(255, 255, 255);        /* text color */
}
input:focus{
   outline: none;
   border: none;
   background: none;    /* removes white background */
   color: white;
}
.i-2 input{
   border: none;        /* removes the box */       /* removes blue border when clicked */
   background: none;    /* removes white background */
   color: rgb(254, 250, 250);        /* text color */
}
input:focus{
   outline: none;
   border: none;
   background: none;    /* removes white background */
   color: white;
}