*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(253, 198, 253), rgb(247, 90, 247));
    display: flex;
    justify-content: center;
}
.all-i{
    height: 500px;
    width: 700px;
    background-color: rgba(142, 14, 114, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 50% 3%;
    box-shadow: 10px 25px 45px black;
}
.i-1{
    width: 100px;
    height: 100px;
}
.i-2{
    width: 100px;
    height: 100px;
   
}
.i-3{
    width: 100px;
    height: 100px;
    
}
.i-4{
    width: 100px;
    height: 100px;
    
}
.i-5{
    width: 100px;
    height: 100px;
}
.i-1 a {
    height: 100px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 6, 137) ;
    background-color: rgb(255, 192, 203);
    border: 1px solid violet;
    border-radius: 50% 0% 0% 50%;
    
}
.i-2 a{
    height: 100px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 6, 137);
    background-color: rgb(255, 192, 203);
    border: 1px solid violet;
}
.i-3 a{
    height: 100px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 6, 137);
    background-color: rgb(255, 192, 203);
    border: 1px solid violet;
}
.i-4 a{
    height: 100px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 6, 137);
    background-color: rgb(255, 192, 203);
    border: 1px solid violet;
}
.i-5 a{
    height: 100px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 6, 137);
    background-color: rgb(255, 192, 203);
    border: 1px solid violet;
    border-radius: 0% 50% 50% 0% ;
}
.i-1 a:hover{
    background-color: rgb(229, 80, 179);
    color: white;
    transition: 0.8s;
}
.i-2 a:hover{
    background-color: rgb(229, 80, 179);
    color: white;
    transition: 0.8s;
}
.i-3 a:hover{
    background-color: rgb(229, 80, 179);
    color: white;
    transition: 0.8s;
}
.i-4 a:hover{
    background-color: rgb(229, 80, 179);
    color: white;
    transition: 0.8s;
}
.i-5 a:hover{
    background-color: rgb(229, 80, 179);
    color: white;
    transition: 0.8s;
}
.bars i{
    position: relative;
    top: 230px;
    left: 580px;
    color: white;
}
.bars i:hover{
    color: black;
}